<ng-template #navigationTemplate let-showImage='showImage'>
  <a class="mdc-top-app-bar__title mdc-typography--subtitle1" [routerLink]="['/']">HOME</a>
        <a class="mdc-top-app-bar__title mdc-typography--subtitle1" [routerLink]="['accomodation']">ACCOMODATION</a>
        <a class="mdc-top-app-bar__title mdc-typography--subtitle1" [routerLink]="['food-and-beverage']">FOOD &#38; BEVERAGE</a>
        <ng-container *ngIf="showImage === 'true'">
        <a class="image logo">
          <img src="assets/images/theahotel_logo.png" alt="Thea Hotel">
        </a>
        </ng-container>
        <a class="mdc-top-app-bar__title mdc-typography--subtitle1" [routerLink]="['lifestyle']">LIFESTYLE</a>
        <a class="mdc-top-app-bar__title mdc-typography--subtitle1" [routerLink]="['celebrations']">WEDDINGS &#38; CELEBRATIONS</a>
        <a class="mdc-top-app-bar__title mdc-typography--subtitle1" [routerLink]="['offers']">OFFERS</a>
</ng-template>

<aside #drawer id="drawer" class="mdc-drawer mdc-drawer--modal">
    <div class="mdc-drawer__content">
      <nav class="mdc-list">
        <div class="logo-wrapper">
          <img src="assets/images/theahotel_logo.png" alt="Thea Hotel" id="logo" aria-selected="false">
        </div>
        <hr class="mdc-list-divider">
        <a class="mdc-list-item mdc-list-item--activated" href="#" aria-selected="true">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">favorite</i>
          <span class="mdc-list-item__text">First link</span>
        </a>
        <a class="mdc-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">favorite</i>
          <span class="mdc-list-item__text">Second link</span>
        </a>
        <a class="mdc-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">favorite</i>
          <span class="mdc-list-item__text">Third link</span>
        </a>
        <a class="mdc-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">favorite</i>
          <span class="mdc-list-item__text">The fourth link</span>
        </a>
      </nav>
    </div>
</aside>
<div class="mdc-drawer-scrim">
</div>

<div class="mdc-drawer-app-content">
  <header class="mdc-top-app-bar" #topAppBar id="app-bar" [ngClass]="{'mdc-top-app-bar--prominent': this.isSmallScreen}">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section" id="hamburger">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"(click)="this.toggleDrawer()">
          menu
        </button>
        <div *ngIf="isSmallScreen" class="logo">
          <a [routerLink]="['/']">
            <img src="assets/images/theahotel_logo.png" alt="Thea Hotel">
          </a>
        </div>
      </section>

      <section #siteNavigation class="mdc-top-app-bar__section mdc-top-app-bar__section" id="site-navigation">
        <ng-container *ngTemplateOutlet="navigationTemplate;context:{showImage: 'true'}">
        </ng-container>
      </section>

      <section id="mobile-navigation"   class="mdc-top-app-bar__section mdc-top-app-bar__section" >
        <ng-container *ngTemplateOutlet="navigationTemplate;context:{showImage: 'false'}">
        </ng-container>
      </section>
    </div>
  </header>

  <main class="main-content" id="main-content">
    <div class="mdc-top-app-bar--fixed-adjust">
      <ng-content></ng-content>
    </div>
  </main>
</div>

