@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

@import "../../../theahotel";

@media screen and (min-width: $screen-md-min) {
	#hamburger {
		display: none;
	}
}
@media screen and (max-width: $screen-md-min) {
	#site-navigation {
		display: none;
	}
}

.mdc-top-app-bar {
  @include mdc-top-app-bar-fill-color($mdc-theme-primary-light);
}
#site-navigation {
	display: flex;
	justify-content: space-around;
}
#site-navigation .image {
	margin-top: 32px;
}