@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

@import "../../../theahotel"; // To get variables

.mdc-top-app-bar {
	/* We change the color of top app bar */
  @include mdc-top-app-bar-fill-color($mdc-theme-primary-light);
}
.mdc-top-app-bar__row {
	flex-direction: column;
}
#hamburger {
	display: flex;
	justify-content: space-between;
}
#mobile-navigation {
	/* Set scrollable element in header in mobile version */
	display: block;
	padding: 0;
	overflow: scroll;
}
#mobile-navigation a {
	/* Set scrollable element in header in mobile version */
	padding: 0;
	margin: 0 1.5rem;
}
#app-bar div.logo {
	padding-top: 0.5rem;
}
#app-bar div.logo img {
	width: 75%;
}
#site-navigation {
	/* Set header as flex to position all the navigation links with same space between them */
	display: flex;
	justify-content: space-around;
}
#site-navigation .image.logo {
	/* 32PX is half of topAppBar height, that's by default = 64px; */
	margin-top: 64px;
}
#drawer .logo-wrapper {
	padding: 1rem 2rem;
}
#drawer .logo-wrapper #logo {
	width: 50%;
}


@media screen and (min-width: $screen-md-min) {
	#mobile-navigation,
	#hamburger {
		display: none !important;
	}
}
@media screen and (max-width: $screen-md-min) {
	#site-navigation {
		display: none;
	}
	#main-content div[class*="top-app-bar"] {
		padding-top: 128px;
	}
}