<!--<div></div>-->  

<!-- <mat-sidenav-container>

  <mat-sidenav #sidenav>
    <app-sidenav-list (closeSideNavigation)="sidenav.close()"></app-sidenav-list>
    <p>Asd</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (SideNavigationToggle)="sidenav.toggle()">hey</app-header>
    <app-navtabs></app-navtabs>

    <main>
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container> -->

<app-header>
<router-outlet></router-outlet>   
</app-header>
 