$mdc-typography-font-family: "Rubik, Roboto, sans-serif";
@import "~@material/typography/mdc-typography";


$mdc-theme-primary-light: #d7ebdf;




$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs-max: ($screen-sm-min - 1); /*  767 */
$screen-sm-max: ($screen-md-min - 1); /*  991 */
$screen-md-max: ($screen-lg-min - 1); /* 1199 */