@import "../../theahotel.scss";
@import "@material/image-list/mdc-image-list";
@import "@material/list/mdc-list";
@import "@material/card/mdc-card";

// @import "@material/card/mdc-card";
@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";




.home-wrapper div.heading {
	background-image: url(/assets/images/home_beach.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 125vh;
}
.home-wrapper div.heading div {
	height: inherit;
	position: relative;
	padding-top: 10rem;
	text-align: center;
}
.home-wrapper div.heading div p {
	margin: 0;
}
.home-wrapper div.heading div p:nth-child(1) {
	color: rgba(0, 0, 0, 0.65);
}
.home-wrapper div.heading div p:nth-child(2) {
	color: #FFF;
}
.home-wrapper div.heading div .icon-wrapper {
	margin-top: 7.5rem;
}
.home-wrapper div.heading div .icon-wrapper i {
	color: #FFF;
	opacity: 0.75;
	font-size: 5rem;
	transform: rotate(90deg);
}
.home-wrapper div.heading div p.country {
	background: url(/assets/images/home_beach.jpg)center top;
	font-stretch: normal;
	color: rgba(1, 1, 1, 0);
 	-webkit-background-clip: text;
	bottom: -5.5rem;
	position: absolute;
	left: 0;
	right: 0;
	font-size: 10rem;
	margin: 0;
}

@media screen and (max-width: $screen-md-min) {
	.home-wrapper div.heading div { 
		padding-top: 5rem;
	}
	.home-wrapper div.heading div p:nth-child(1) {
		font-size: 2rem;
	}
	.home-wrapper div.heading div p:nth-child(2) {
		font-size: 3.5rem;
	}
	.home-wrapper div.heading div p.country {
		font-size: 3rem;
		bottom: -1.5rem;
	}
}



.home-wrapper .housing {
	padding-top: 5rem;
	text-align: center;
}
.home-wrapper .housing .heading { 
	color: $mdc-theme-primary;
}
.home-wrapper .housing hr {
	border: 1px solid $mdc-theme-primary;
	width: 33%;
}
.home-wrapper .housing .description {
	padding: 0 20vw;
	letter-spacing: 0.5px;
	line-height: 1.25rem;
}

.home-wrapper .housing ul {
	justify-content: center;
	@include mdc-image-list-standard-columns(3,3rem)
}
.home-wrapper .housing ul li .content {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.home-wrapper .housing ul li .content .tape {
	margin-top: 20%;
}
.home-wrapper .housing ul li .content .tape p {
	padding: 0.5rem 0;
	background-color: rgba(251, 250, 192, 0.35);
	color: #000;
}
.home-wrapper .housing ul li .content div.button {
	bottom: 4rem;
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
}
.home-wrapper .housing ul li .content div.button button {
	@include mdc-button-horizontal-padding(1.5rem);
}

@media screen and (max-width: $screen-sm-min) {
	.home-wrapper .housing ul {
		@include mdc-image-list-standard-columns(2)
	}
}
@media screen and (max-width: $screen-xs-min) {
	.home-wrapper .housing ul {
		@include mdc-image-list-standard-columns(1)
	}
}



.home-wrapper .propositions-wrapper {
	background-image: url(/assets/images/propositions_background.jpg);
	height: 80vh;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	margin-bottom: 2rem;
}
.home-wrapper .propositions-wrapper .propositions {
	max-width: 50%;
}
.home-wrapper .propositions-wrapper .propositions ul {
	background-color: rgba($mdc-theme-primary, 0.9);
	padding: 3rem 0 3rem 3rem;
	margin-top: 3rem;
	@include mdc-image-list-standard-columns(2);
}
.home-wrapper .propositions-wrapper .propositions ul * {
	color: #000;
}
.home-wrapper .propositions-wrapper .propositions ul li{
	margin-bottom: 0.5rem !important;
}
.home-wrapper .propositions-wrapper .offers {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.home-wrapper .propositions-wrapper .offers .content {
	padding: 1rem 7.5rem;
}
.home-wrapper .propositions-wrapper .offers .content p {
	text-align: center;
	color: #FFF;
}
.home-wrapper .propositions-wrapper .offers .content button {
	margin-top: 3rem;
}
.home-wrapper .propositions-wrapper .offers .content hr {
	border: 1px solid $mdc-theme-primary;
}
@media screen and (max-width: $screen-md-max) {
	.home-wrapper .propositions-wrapper {	
		background: none;
		flex-direction: column;
		height: auto;
	}
	.home-wrapper .propositions-wrapper .propositions {
		max-width: 100%;
		padding-top: 0;
		padding-bottom: 0;
	}
	.home-wrapper .propositions-wrapper .propositions ul {
		@include mdc-image-list-standard-columns(1);
	}
	.home-wrapper .propositions-wrapper .offers .content {
		padding: 1rem;
		text-align: center;
	}
	.home-wrapper .propositions-wrapper .offers .content hr {
		display: none;
	}
	.home-wrapper .propositions-wrapper .offers .content button {
		margin-top: 1rem;
	}
	.home-wrapper .propositions-wrapper .offers .content p {
		text-align: center;
		color: #000;
	}
}


.home-wrapper .subscribe {
	display: flex;
	padding: 0.5rem 2rem;
	justify-content: space-between;
	margin-bottom: 2rem;
}
.home-wrapper .subscribe > * {
	height: 100%;
}
.home-wrapper .subscribe > div { 
	width: 50%;
}
.home-wrapper .subscribe .inputs {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.home-wrapper .subscribe .inputs > button {
	flex-grow: 1;
}
.home-wrapper .subscribe .inputs > div {
	margin-right: 1rem;
	flex-grow: 2;
}
@media screen and (max-width: $screen-md-min) {
	.home-wrapper .subscribe {
		display: none;
	}
}


.home-wrapper .cards .card {
  height: auto;
  width: 350px;
  margin-bottom: 3rem;
}
.home-wrapper .cards .card [class*="__actions"] {
	display: block;
}
.home-wrapper .cards .card [class*="__actions"] p {
	text-align: start;
}
.home-wrapper .cards .card [class*="__actions"] p:nth-child(1) {
	margin-bottom: 0;
}
.home-wrapper .cards .card [class*="__actions"] p:nth-child(2),
.home-wrapper .cards .card [class*="__actions"] p:nth-child(4) {
	color: $mdc-theme-primary;
}
.home-wrapper .cards .card [class*="__actions"] .inner-card {
		display: none;
}
@media screen and (max-width: $screen-md-min) {
	.home-wrapper .cards {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.home-wrapper .cards .card.yacht [class*="media-content"] {
		display: none;
	}
}
@media screen and (min-width: $screen-md-min) {
	.home-wrapper .cards .card {
		width: 75vw;
		position: relative;
	}
	.home-wrapper .cards .card.yacht {
		width: 100%;
	}
	.home-wrapper .cards .card [class*="__actions"] {
		min-height: 0;
		padding: 0;
	}
	.home-wrapper .cards .card [class*="__actions"] .inner-card {
		display: block;
		position:absolute;
		width: 50%;
		right: -25%;
		top: 25%;
		padding: 1rem 2rem;
	}
	.home-wrapper .cards .card .card__mobile-content,
	.home-wrapper .cards .card.yacht .card__mobile-content {
		display: none
	}
	.home-wrapper .cards .card.yacht [class*="__actions"] {
		width: 50%;
		top: 25%;
		right: 25%;
		padding: 1rem 2rem;
	}
	.home-wrapper .cards .card.yacht [class*="__actions"] p {
		color: #FFF;
	}
	.home-wrapper .cards .card.yacht [class*="__actions"] p:nth-child(2) {
		color: #000;
	}
}


.home-wrapper .services ul {
  @include mdc-image-list-standard-columns(3, 5rem);
}
.home-wrapper .services ul li [class*="__supporting"] p {
	white-space: unset;
	overflow: visible;
}

@media screen and (min-width: $screen-md-min) {
	.home-wrapper .services ul li [class*="__supporting"] {
		display: block;
		margin-bottom: 1.5rem;
	}
}
@media screen and (max-width: $screen-md-min) {
	.home-wrapper .services ul {
	  @include mdc-image-list-standard-columns(1, 5rem);
	}	
	.home-wrapper .services ul li [class*="__supporting"] {
		margin-bottom: 2.5rem;
		flex-direction: column;
		height: auto;
		align-items: flex-start;
		padding: 1rem 3rem;
	}
	.home-wrapper .services ul li [class*="__supporting"] [class*="label"] {
		display: flex;
		// justify-content: space-between;
		flex-direction: column;
		width: 100%;
		
	}
	.home-wrapper .services ul li [class*="__supporting"] [class*="label"] span {
		color: #FFF;
	}
}