@import "../../theahotel.scss";

.home-wrapper .heading {
	background-image: url(/assets/images/home_beach.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 125vh;
}
.home-wrapper .heading div {
	padding-top: 10rem;
}
.home-wrapper .heading div p {
	text-align: center;
	margin: 0;
}
.home-wrapper .heading div p:nth-child(1) {
	color: rgba(0, 0, 0, 0.65);
}
.home-wrapper .heading div p:nth-child(2) {
	color: #FFF;
}
.home-wrapper .heading div .icon-wrapper {
	margin-top: 7.5rem;
}
.home-wrapper .heading div .icon-wrapper i {
	color: #FFF;
	opacity: 0.75;
	font-size: 5rem;
	transform: rotate(90deg);
}
.home-wrapper .heading div p.country {
	background: url(/assets/images/home_beach.jpg)center top;
	font-stretch: normal;
	color: rgba(1, 1, 1, 0);
 	-webkit-background-clip: text;
	bottom: -5.5rem;
	position: absolute;
	left: 0;
	right: 0;
	font-size: 10rem;
	margin: 0;
}

@media screen and (max-width: $screen-md-min) {
	.home-wrapper .heading div { 
		padding-top: 5rem;
	}
	.home-wrapper .heading div p:nth-child(1) {
		font-size: 2rem;
	}
	.home-wrapper .heading div p:nth-child(2) {
		font-size: 3.5rem;
	}
	.home-wrapper .heading div p.country {
		font-size: 5rem;
		bottom: -2.5rem;
	}
}