<div class="home-wrapper">
  <!-- div.heading full of custom styles -->
  <div class="heading">
    <div>
      <p class="mdc-typography--headline4">LUXURY BEACH FRONT RESORT</p>
      <p class="mdc-typography--headline1">NATAI BEACH <br>RESORT &#38; SPA</p>
      <p class="icon-wrapper">
        <i class="material-icons">play_circle_outline</i>
      </p>
      <p class="country">THAILAND</p>
    </div></div>


  <div class="assortment">
    <p class="heading mdc-typography--headline3">Phanga, Phuket</p>
    <p class="mdc-typography--subtitle1"> ASIA'S TROPICAL PARADISE</p>
    <hr>
    <p class="description">
      Situated on the fine golden sands of Natai Beach, Natai Beach Resort &#38; Spa is an exquisite, 106-room resort. A 25-minute drive from Phuket airport, the resort is based on local heritage and traditional Thai culture. It is a perfect vacation haven created to add comfort and relaxation, an ideal place for families and honeymooners.
    </p>

    <ul class="mdc-image-list my-image-list mdc-image-list--with-text-protection">
      <li class="mdc-image-list__item">
        <div class="mdc-image-list__image-aspect-container">
          <img class="mdc-image-list__image" src="/assets/images/room.jpg" alt="Any room">
        </div>
        <div class="content">
          <div class="tape">
            <p class="mdc-typography--headline5">ROOM &#38; SUITS</p>
          </div>
          <div class="button">
            <button #button class="mdc-button mdc-button--raised mdc-button--outlined">
              Explore
            </button>
          </div>
        </div>
      </li>
      <li class="mdc-image-list__item">
        <div class="mdc-image-list__image-aspect-container">
          <img class="mdc-image-list__image" src="/assets/images/beach_house.jpg" alt="Any house">
        </div>
        <div class="content">
          <div class="tape">
            <p class="mdc-typography--headline5">BEACH HOUSES</p>
          </div>
          <div class="button">
            <button #button class="mdc-button mdc-button--raised mdc-button--outlined">
              Explore
            </button>
          </div>
        </div>
      </li>
    </ul>

  </div>

</div>

